# shellcheck shell=bash disable=SC2123
if [[ -x /opt/ccstudio/ccs/tools/compiler/c6000_7.4.24/bin/cl6x ]]; then
  PATH="/opt/ccstudio/ccs/tools/compiler/c6000_7.4.24/bin${PATH:+:}$PATH"
fi
if [[ -x /opt/ccstudio/ccs/ccs_base/scripting/bin/dss.sh ]]; then
  PATH="/opt/ccstudio/ccs/ccs_base/scripting/bin${PATH:+:}$PATH"
fi

if command -v cl6x &>/dev/null; then
  export C6X_C_DIR
  C6X_C_DIR="$(dirname "$(dirname "$(realpath "$(command -v cl6x)")")")"
  C6X_C_DIR="$C6X_C_DIR/include;$C6X_C_DIR/lib"
fi
# ex: filetype=sh
