/yuv.h
/x264
*.264

/.xmake/

/subprojects/*/

/build/
/.cache/

*.log
.dirstamp
/config.h
.deps/
*~

/*.cmake
*.ninja
DartConfiguration.tcl

# check
*.trs
*.gcno
/tests/*.c
/tests/check_downsample

# sphinx
/docs/_build/

# CCStudio
/.ccsproject
/.cproject
/.launches/
/.project
/.settings/
/Debug/
/Release/
/targetConfigs/

# create by https://github.com/iamcco/coc-gitignore (Sun Apr 02 2023 17:54:55 GMT+0800 (China Standard Time))
# C.gitignore:
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# create by https://github.com/iamcco/coc-gitignore (Sun Apr 02 2023 17:55:38 GMT+0800 (China Standard Time))
# Autotools.gitignore:
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/build-aux/compile
/build-aux/test-driver
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Autotools.patch:
/config.log

# create by https://github.com/iamcco/coc-gitignore (Sun Apr 02 2023 17:56:02 GMT+0800 (China Standard Time))
# Autotools+strict.patch:
# Generated source files
configure
Makefile

# create by https://github.com/iamcco/coc-gitignore (Fri May 12 2023 20:52:28 GMT+0800 (China Standard Time))
# CMake.gitignore:
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CMake.patch:
# External projects
*-prefix/

# create by https://github.com/iamcco/coc-gitignore (Fri May 12 2023 20:52:35 GMT+0800 (China Standard Time))
# Ninja.gitignore:
.ninja_deps
.ninja_log
